<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li
                *ngIf="isAuthenticated"
                class="nav-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a class="nav-link" routerLink="app-servers">
                    servers component <span class="sr-only">(current)</span>
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-ng-class">
                    ng class example
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-ng-if">ng if example</a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-ng-for">ng for example</a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-ng-style">
                    ng style example
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-basic-directive">
                    basic directive
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-eg-renderer-directive">
                    renderer directive
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-host-binding">
                    host binding
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-host-listener">
                    host listener
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-structural-directive">
                    structural directive
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-switch-case-directive">
                    switch case directive
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-eg-service">
                    example for service
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-route-work">
                    example for router utils
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-can-deactivate">
                    example for deactivate
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-static-data">
                    example for static data passing
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-dynamic-data">
                    example for dynamic data passing
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a
                    class="nav-link"
                    routerLink="app-observable-interval-example"
                >
                    example interval Observable
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a
                    class="nav-link"
                    routerLink="app-costume-interval-observable"
                >
                    example custom interval Observable
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-form-TD-example">
                    example for TD form approach
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-form-reactive-example">
                    example for Reactive form approach
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-pipes-example">
                    example for pipes
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" routerLink="app-http-request">
                    example for http client add new post
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="!isAuthenticated"
            >
                <a class="nav-link" routerLink="app-auth">
                    login and sign up
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">
                    logout
                </a>
            </li>
        </ul>
    </div>
</nav>
