<app-header></app-header>
<!-- <app-servers></app-servers> -->

<div class="container">
    <router-outlet></router-outlet>
    <!-- <hr />
  <h1>This is Ng Class</h1>
  <app-ng-class></app-ng-class>

  <hr />
  <h1>This is Ng if</h1>
  <app-ng-if></app-ng-if>

  <hr />
  <h1>This is Ng for</h1>
  <app-ng-for></app-ng-for>

  <hr />
  <h1>This is Ng style</h1>
  <app-ng-style></app-ng-style>

  <hr />
  <h1>This is directive show up</h1> -->
    <!-- <p [appBasicDirective]="'this is my console message'" [color]="'black'" >something in here</p> -->
    <!-- <p [appBasicDirective]="'this is my console message'" color="red" >something in here</p>

  <hr />
  <h1>This is another directive show up</h1>
  <p appEgRenderer>something in here</p>

  <hr />
  <h1>This is HostListener show up</h1>
  <app-host-listener></app-host-listener>

  <hr />
  <h1>This is HostBinding show up</h1>
  <app-host-binding></app-host-binding>

  <hr />
  <h1>This is costume structural directive</h1>
  <p *appStructuralDirective="false">this is inside structural</p>

  <hr />
  <h1>This is switch case directive</h1>
  <div [ngSwitch]="switchCaseTestValue">
    <p *ngSwitchCase="'Hello'">Hello world</p>
    <p *ngSwitchCase="'Hello1'"> hello world</p>
    <p *ngSwitchCase="'Hello2'">Hello World</p>
    <p *ngSwitchDefault> this is default val </p>
  </div>

  <hr />
  <h1>This is service </h1>
  <button class="btn btn-danger" (click)="logMyAction()"> Test My Service Logger</button> -->
</div>
