<app-servers></app-servers>

<div class="container">
  <hr />
  <h1>This is Ng Class</h1>
  <app-ng-class></app-ng-class>

  <hr />
  <h1>This is Ng if</h1>
  <app-ng-if></app-ng-if>

  <hr />
  <h1>This is Ng for</h1>
  <app-ng-for></app-ng-for>

  <hr />
  <h1>This is Ng style</h1>
  <app-ng-style></app-ng-style>

  <hr />
  <h1>This is directive show up</h1>
  <p appBasicDirective>something in here</p>

  <hr />
  <h1>This is another directive show up</h1>
  <p appEgRenderer>something in here</p>

  <hr />
  <h1>This is HostListener show up</h1>
  <app-host-listener></app-host-listener>
</div>
